name: Build & Upload

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

permissions:
  contents: write

jobs:
  build-and-install:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            suffix: windows
          - os: ubuntu-latest
            suffix: linux
          - os: macos-latest
            suffix: macos

    steps:
      - name: 1. Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: 2. Setup Environment (Common)
        uses: lukka/get-cmake@latest

      - name: 2.1 (Windows) Setup MSVC
        if: matrix.os == 'windows-latest'
        uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: x64

      - name: 2.2 (Ubuntu) Install Deps
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl-dev libgl1-mesa-dev libx11-dev libx11-xcb-dev libfontenc-dev libice-dev libsm-dev libxau-dev libxaw7-dev

      - name: 2.3 (macOS) Install Deps
        if: matrix.os == 'macos-latest'
        run: brew install libxcb xorgproto

      - name: 3. CMake Configure
        run: cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release

      - name: 4. CMake Build
        run: cmake --build build --config Release

      - name: 5. CMake Install
        run: cmake --install build --prefix ./dist --config Release

      - name: 6. Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ matrix.suffix }}
          path: ./dist

  upload:
    needs: build-and-install
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./assets

      - name: Get Short SHA
        id: vars
        run: echo "sha_short=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Create Release and Upload
        uses: softprops/action-gh-release@v2
        with:
          tag_name: build-${{ steps.vars.outputs.sha_short }}
          name: Build ${{ steps.vars.outputs.sha_short }}
          files: |
            assets/binary-windows/**/*
            assets/binary-linux/**/*
            assets/binary-macos/**/*