name: Build & Upload

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

permissions:
  contents: write

jobs:
  configure:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
          - os: ubuntu-latest
          - os: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Get CMake and Ninja
        uses: lukka/get-cmake@latest

      - name: (Windows) Setup MSVC
        if: matrix.os == 'windows-latest'
        uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: x64

      - name: (Ubuntu) Install Dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libgl-dev libgl1-mesa-dev libx11-dev libx11-xcb-dev \
            libfontenc-dev libice-dev libsm-dev libxau-dev libxaw7-dev

      - name: (macOS) Install Dependencies
        if: matrix.os == 'macos-latest'
        run: |
          brew install libxcb xorgproto

  build:
    runs-on: ${{ matrix.os }}
    needs: configure
    strategy:
      matrix:
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
          - os: macos-latest
            c_compiler: clang
            cpp_compiler: clang++
      fail-fast: false

    steps:
      - name: Configure, Build & Install
        run: |
          cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release
          cmake --build build --config Release
          cmake --install build --prefix ./dist --config Release

  upload:
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Get Short SHA
        id: vars
        run: echo "sha_short=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Package Artifacts
        run: |
          cd dist
          zip -r ../windows-binaries.zip binary-windows/
          zip -r ../linux-binaries.zip binary-linux/
          zip -r ../macos-binaries.zip binary-macos/
          cd ..

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: build-${{ steps.vars.outputs.sha_short }}
          name: Build ${{ steps.vars.outputs.sha_short }}
          draft: false
          prerelease: false
          files: |
            windows-binaries.zip
            linux-binaries.zip
            macos-binaries.zip